---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=pueblo,%20co&key=<GOOGLE_MAPS_API_KEY>&origin=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "routes" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 30 Jul 2019 16:57:11 GMT
recorded_with: VCR 5.0.0
