---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=food&location=pueblo,%20co&open_at=1564421959&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - e1a85c2f246dda98
      X-Proxied:
      - 10-64-85-174-uswest1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "''Bearer <YELP_API_KEY>''
        does not match ''^(?i)Bearer [A-Za-z0-9\\\\-\\\\_]{128}$''", "field": "Authorization",
        "instance": "Bearer <YELP_API_KEY>"}}'
  recorded_at: Tue, 30 Jul 2019 16:58:27 GMT
recorded_with: VCR 5.0.0
