---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=food&location=pueblo,%20co&open_at=1564421959&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4877'
      Ratelimit-Resettime:
      - '2019-07-31T00:00:00+00:00'
      X-Zipkin-Id:
      - 244d7019da84edb3
      X-Proxied:
      - 10-64-146-52-uswest1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "3MONRi6Bh5gO1s_4nCaMYQ", "alias": "noodles-and-company-pueblo",
        "name": "Noodles & Company", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/uS0gcUp6xCmLt5YlhZ5ODQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/noodles-and-company-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 28, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "salad", "title": "Salad"}, {"alias": "pastashops", "title": "Pasta
        Shops"}], "rating": 3.5, "coordinates": {"latitude": 38.3085380973858, "longitude":
        -104.61941242218}, "transactions": [], "price": "$", "location": {"address1":
        "825 W US Hwy 50", "address2": "", "address3": "", "city": "Pueblo", "zip_code":
        "81008", "country": "US", "state": "CO", "display_address": ["825 W US Hwy
        50", "Pueblo, CO 81008"]}, "phone": "+17195441539", "display_phone": "(719)
        544-1539", "distance": 5846.41953186027}, {"id": "c7zEc16iJa4_hoNLkhts8w",
        "alias": "yellow-mountain-tea-house-colorado-springs", "name": "Yellow Mountain
        Tea House", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/XRUjvww-zh8qCoPx4rh38Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/yellow-mountain-tea-house-colorado-springs?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 171,[...]
