---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=lsdkjfaj&key=<GOOGLE_MAPS_API_KEY>&origin=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "ZERO_RESULTS"
              }
           ],
           "routes" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Tue, 30 Jul 2019 16:51:37 GMT
recorded_with: VCR 5.0.0
